PORT=3000
USER_SERVICE_URL=http://localhost:3001
PARKING_SERVICE_URL=http://localhost:3002
BOOKING_SERVICE_URL=http://localhost:3003
PRICING_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
NODE_ENV=development
